.SassComponent {
    display: flex;
    .box {
        background-color: $oc-gray-2;
        @include media('<768px') {
            background: $oc-gray-9;
        }
        width: 100px;
        height: 100px;
        &.red {
            background: $red;
            @include square(1);
        }
    }
}