@import '~include-media/dist/include-media';
@import '~open-color/open-color';

$red: #fa5252;

@mixin square($size) {
    $calculated: 32px * $size;
    width: $calculated;
    height: $calculated;
}